@use "../tokens/color" as *;
@use "../tokens/font" as *;
@use "../tokens/spacing" as *;

body {
  font-family: $font-stack-body;
  font-weight: $font-weight-body;
  color: $color-grey-90;
}

p,
a,
li {
  line-height: $line-height-body;
}

strong {
  font-weight: $font-weight-body-strong;
}

em {
  font-style: italic;
}

li p {
  margin: 0;
}

a {
  color: $color-teal-80;
  text-decoration: underline;
  text-decoration-color: $color-teal-30;
  text-underline-position: under;

  &:has(i),
  &:has(img) {
    text-decoration: none;
    line-height: 0;
  }
}

table:not([class]) {
  border-collapse: collapse;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow: auto;

  thead,
  th {
    background-color: $color-grey-10;

    &,
    p {
      font-weight: $font-weight-body-strong;
    }
  }

  th,
  td {
    border: 1px solid $color-grey-20;
    padding: 0.5rem;
  }

  caption {
    margin: $padding-block 0;
  }
}

.iati-quote {
  border-left: 4px solid $color-grey-90;
  padding: 0 $padding-block;
  margin-left: $padding-block;
}

dl {
  dt,
  dd {
    line-height: $line-height-body;
  }

  dt {
    font-weight: $font-weight-body-strong;
  }

  dd {
    margin-left: $padding-block;
  }
}
