$font-stack-heading: "Hanken Grotesk", sans-serif;
$font-stack-body: "Nunito Sans", sans-serif;
$font-stack-monospace: monospace;

$font-weight-body: 300;
$font-weight-body-strong: 600;
$font-weight-heading: 600;

$line-height-body: 1.5;
